<div class="content">
  <div class="container-fluid">
    <div class="col-md-8 col-md-offset-2">
      <div class="card">
        <div class="header">
          <h4 class="title">Continue To Payment</h4>
        </div>
        <div class="content">
          <div class="row">
            <div class="col-md-12">
              <h4 class="title"> Hi <%= @deposit.email %> Please Complete Your Deposit By Paying</h4>
              <p>
                <strong>Amount:</strong>
                <% market = 'USDT-BTC'
                   url_ticker = 'https://bittrex.com/api/v1.1/public/getticker'
                    response = HTTParty.get(url_ticker, query: {market: market})
                    result = response["result"]
                    @r_last = result["Last"] %>
  <%= @deposit.amount %> || Current Bitcoin Value <%= @r_last %>

              </p>
            </div>

          </div>



        </div>
      </div>
      </div>






    <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <div class="content">
                <div class="row">

                    <div class="col-md-8 col-md-offset-2">
                        <div class="text-center">
                          <h4>For Bitcoin Payment   Please Pay <strong><%= @deposit.amount.to_f / @r_last %></strong>
</h4>
                            <%= image_tag "pay.jpg", class: "img-responsive" %>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


  </div>
</div>
<p class="text-center"><%= link_to "Return To Dasboard", root_path, class: "btn btn-primary" %> || <%= link_to "View Deposit History", deposits_path, class: "btn btn-primary" %></p>
